@page "/btnselect"

<h1>Button Select</h1>


<div class="calculator-grid">
    <div class="output">
        <div class="previous-operand"></div>
        <div class="current-operand">@_message</div>
    </div>
    <button class="span-two" >AC</button>
    <button>Del</button>
    <button>/</button>
    <button @onclick="@(e => UpdateHeading(e, 1))">1</button>
    <button>2</button>
    <button>3</button>
    <button>*</button>
    <button>4</button>
    <button>5</button>
    <button>6</button>
    <button>+</button>
    <button>7</button>
    <button>8</button>
    <button>9</button>
    <button>-</button>
    <button>.</button>
    <button>0</button>
    <button class="span-two">=</button>
</div>

@code {
    private string _message = "Select a button to learn its position.";

    private void UpdateHeading(MouseEventArgs e, int buttonNumber)
    {
        _message = $"{buttonNumber}";
    }
}