@page "/counter"

<h1>Counter</h1>



<input placeholder="Increment Amount" @bind="IncrementAmount"/>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>Current count: @currentCount</p>

@code {
    private int currentCount = 0;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}
