@page "/btnselect"

<h1>Button Select</h1>

<h2>@_message</h2>

<div class="calculator-grid" tabindex="0" @onkeydown="(e => UpdateHeading(e))"></div>

@code {
    private string _message = "Select a button to learn its position.";

    private void UpdateHeading(KeyboardEventArgs e)
    {
        _message = "Alt Key: " + e.AltKey.ToString() + "Code: " + e.Code.ToString() + "Equals 'z' ?: " + e.Equals("z").ToString() + "Key: " + e.Key.ToString();
    }
}